.about__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--mine-color-text);
    margin-bottom: 50px;
}

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about .about__list {
    display: flex;
    align-items: center;
}

.about .about__item + .about__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.about__top-wrap {
    position: relative;
}

.about__top-text {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: var(--second-title-color);
    /* padding: 27px 0px; */
    padding: 27px 0px;
}
